{% extends "base_usuario.html" %}
{% block body_block %}
<div class="container">
    <body>
        <div class="jumbotron">
            <h1>comunicados...</h1>
        </div>
        <div class="comunicados">
            {% for comunicado in comunicadosCurso %}
                <div class="comunicado">
                    <br>
                    <a>{{comunicado.titulo}} -({{comunicado.fecha}})</a>
                    <br><br>
                    <p>{{comunicado.mensaje}}</p>
                </div>
            {%endfor%}
        </div>
    </body>

</div>
{% endblock %}
