{% extends "base_padres.html" %}
{% block body_block %}
<style>
    #gradientegeneral {
        background-color: #b1bfd8;
        background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
        }
        #fecha {
        font: bold 110% monospace;
        }

    </style>
<div class="container" >
    <body >
    <br><br>
        <div class="jumbotron" >
            <h1 style="text-align: center">Comunicados</h1>
            <br><br>
            <!--<div class="form-group">
            <label for="demo_overview_minimal">Ordenar por:</label>
            <select id="demo_overview_minimal" class="form-control" data-role="select-dropdown" data-profile="minimal" onchange="Seleccion()">
            <option value="fecha">Fecha</option>
            <option value="directivo">Directivo</option>
            </select>
            </div>-->
            <div class="container" >
                <div class="row">
                    <div class="col-md-12 search">
                        <form method="get">
                            <div class="search_input">
                                <div class="input-group col-md-13">
                                    <input value="{{request.GET.buscar}}" type="text" class="form-control" placeholder="Buscar" name="buscar">
                                    <span class="input-group-list">
                                        <i class="icon icon-search"></i>
                                        <button type="submit" class="btn">Buscar</button>
                                    </span>
                                </div>

                            </div>
                        </form>
                    </div>

                </div>

            </div>
            <br>
            <hr>
            <div class="comunicados" id="coms">
                {% for comunicado in comunicados %}

                    <div class="comunicado" >
                        <h5 ><a href="{% url 'display_comunicado_padres' comunicado.id %}" style="color: #000000">{{comunicado.titulo}} - <a id="fecha">({{comunicado.fecha}})</a></a></h5>
                        <p>
                            <span style="display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"><a id="cursos">Cursos:</a> {% for curso in comunicado.curso %}{{curso}} {%endfor%}</span><br>
                            <span style="display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{comunicado.mensaje}}</span>
                        </p>
                        <hr>
                    </div>

                {%endfor%}

            </div>
        </div>

    </body>

</div><!--
<script>

function Seleccion() {
  var x = document.getElementById("demo_overview_minimal").value;
  if (x == "directivo") {
     window.location.href="{% url 'ordenar_por_dir' %}"
  }
  else if (x == "fecha") {
      window.location.href="{% url 'comunicados' %}"
  }

}
</script>-->
{% endblock %}
