{% extends "base_padres.html" %}
{% block body_block %}
<style>
    #info{
        font-weight: bold;

    }

</style>
<br><br>
{% if message == "True" %}
<div class="card bg-success text-white">
  <div class="card-body">Se Marco el Comunicado Como Recibido</div>
</div>
{% endif %}
<div class="jumbotron">
    <div class="col text-center">
    <h2>{{comunicado.titulo}}</h2>
    </div>
    <hr>
    <a id="info">Directivo: </a>{{comunicado.directivo}}
    <br>
    <a id="info">Fecha: </a>{{comunicado.fecha}}
    <br>
    <a id="info">Cursos Notificados: </a>{% for curso in comunicado.curso %}
        {{curso}}
        {%endfor%}
    </a>
    <br>
    <a id="info">Estado: </a>

    <hr>
    <a>{{comunicado.mensaje}}</a>
    <br>
    <hr>

<form method="post">
    {% csrf_token %}
{% if com_recibido == "True" %}
{% else %}
     <div class="col text-center">
    <p><button type="submit" class="btn btn-primary btn ">Marcar Como Recibido</button></p>
    </div>
{% endif %}
</div>


{% endblock %}
