{% extends "base.html" %}
{% block body_block %}
<style media="screen">
.errorlist
{
    color: red;
}
.error input, .error select {
border: 2px red solid;
}
</style>
<br><br>
<div>
    <div class="container">
        <div class="jumbotron" >
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p><button type="submit" class="btn btn-primary btn-lg btn-block">Enviar Comunicado</button></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
