{% extends "base_usuario.html" %}
{% block body_block %}
<div>
    <div class="container">
        <div class="jumbotron" >
            <div class="d-flex justify-content-center">
                <div style="width: 200px;">
                    <div >
                        <!-- Default inline 1-->
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline1">
                            <label class="custom-control-label" for="defaultInline1">1A</label>
                        </div>
                        <!-- Default inline 2-->
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline2">
                            <label class="custom-control-label" for="defaultInline2">1B</label>
                        </div>
                        <!-- Default inline 3-->
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline3">
                            <label class="custom-control-label" for="defaultInline3">1C</label>
                        </div>
                    </div>
                    <div>
                        <!-- Default inline 4-->
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline4">
                            <label class="custom-control-label" for="defaultInline4">2A</label>
                        </div>
                        <!-- Default inline 5-->
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline5">
                            <label class="custom-control-label" for="defaultInline5">2B</label>
                        </div>
                        <!-- Default inline 6-->
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline6">
                            <label class="custom-control-label" for="defaultInline6">2C</label>
                        </div>
                    </div>
                    <div>
                        <!-- Default inline 7-->
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline7">
                            <label class="custom-control-label" for="defaultInline7">3A</label>
                        </div>
                        <!-- Default inline 8-->
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline8">
                            <label class="custom-control-label" for="defaultInline8">3B</label>
                        </div>
                        <!-- Default inline 9-->
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline9">
                            <label class="custom-control-label" for="defaultInline9">3C</label>
                        </div>
                    </div>
                    <div>
                        <!-- Default inline 10-->
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline10">
                            <label class="custom-control-label" for="defaultInline10">4A</label>
                        </div>
                        <!-- Default inline 11-->
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline11">
                            <label class="custom-control-label" for="defaultInline11">4B</label>
                        </div>
                        <!-- Default inline 12-->
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline12">
                            <label class="custom-control-label" for="defaultInlinE12">4C</label>
                        </div>
                    </div>
                    <div>
                        <!-- Default inline 13-->
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline13">
                            <label class="custom-control-label" for="defaultInline13">5A</label>
                        </div>
                        <!-- Default inline 14-->
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline14">
                            <label class="custom-control-label" for="defaultInline14">5B</label>
                        </div>
                        <!-- Default inline 15-->
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline15">
                            <label class="custom-control-label" for="defaultInline15">5C</label>
                        </div>
                    </div>
                    <div>
                        <!-- Default inline 16-->
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline16">
                            <label class="custom-control-label" for="defaultInline16">6A</label>
                        </div>
                        <!-- Default inline 17-->
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline17">
                            <label class="custom-control-label" for="defaultInline17">6B</label>
                        </div>
                        <!-- Default inline 18-->
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline18">
                            <label class="custom-control-label" for="defaultInline18">6C</label>
                        </div>
                    </div>
                    <div>
                        <!-- Default inline 19-->
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline19">
                            <label class="custom-control-label" for="defaultInline19">7A</label>
                        </div>
                        <!-- Default inline 20-->
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline20">
                            <label class="custom-control-label" for="defaultInline20">7B</label>
                        </div>
                        <!-- Default inline 21-->
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="defaultInline21">
                            <label class="custom-control-label" for="defaultInline21">7C</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" >
                    <textarea name="descripcion" cols="60" rows="7" placeholder="Redactar Comunicado"></textarea>
                </div>
            </div>
            <div>
                <div class="d-flex justify-content-center">
                    <input type="file" />
                </div>
            </div>
            <div>
                <div style="margin-top: 30px;">
                    <p><button type="button" class="btn btn-primary btn-lg btn-block">Enviar Comunicado</button></p>
                </div>
                <div style="margin-top: 30px;">
                    <p><button type="button" class="btn btn-secondary btn-lg btn-block">Enviar Comunicado y Redactar Otro</button></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
