{% extends 'base_padres.html' %}
{% block body_block %} 
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<div class="jumbotron">
	
			<!--left col 
            
                <h1  >{{ user.get_username }}</h1>
            -->
			<div class="text-center">
                <h1  >{{ user.get_username }}</h1>
				<img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
				
			</div><br>
<!--
			<ul class="list-group">
				<li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
				<li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
				<li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
				<li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
				<li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
			</ul>

			<div class="panel panel-default">
				<div class="panel-heading">Social Media</div>
				<div class="panel-body">
					<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
				</div>
			</div>
-->
		</div>
		<!--/col-3-->
		<div  class="text-center">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#home">{{ user.get_username }}</a></li>
				<li><a data-toggle="tab" href="#messages">Hijo/s</a></li>
			</ul>


			<div class="tab-content">
				<div class="tab-pane active" id="home">
						<div class="form-group">

							<div class="col-xs-6">
								<label for="first_name"><h4>Nombre : {{ tutor.first_name }}</h4></label>
								</div>
						</div>
						<div class="form-group">

							<div class="col-xs-6">
								<label for="last_name"><h4>Apellido : {{ tutor.last_name }}</h4></label>
								</div>
						</div>

						<div class="form-group">

							<div class="col-xs-6">
								<label for="email"><h4>Email : {{ tutor.email }}</h4></label>
								</div>
						</div>

						<div class="form-group">
							<div class="col-xs-6">
								<label for="info"><h4>Delegado : {{ tutor.delegado }}</h4></label>
								</div>
						</div>
						<div class="form-group">

						</div>
				</div>
				<!--/tab-pane-->
				<div class="tab-pane" id="messages">



							{% for alumno in alumnos %}
							
							
								<div class="card">

									<div class="row">
										<div style=" padding-left: 20px; padding-right:  20px;padding-top: 10px;padding-bottom: 10;padding-bottom: 10px;">
										<img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar" float:left; width="150" height="150" >
										</div>
										<div style="padding-top: 20px;">
										<label class = 'first_name'for="first_name"><h4>Nombre : {{ alumno.first_name }}</h4></label></br>
										<label for="last_name"><h4>Apellido : {{ alumno.last_name }}</h4></label></br>
										<label for="first_name"><h4>Curso : {{ alumno.curso }}</h4></label>
										</div>
										<!--hay mas lugar a la derecha de los datos para q posteriormente se incorporen mas datos y/o funcionalidades-->
									</div>

								</div>
							{%endfor%}

				</div>
				<!--/tab-pane-->
			</div>
			<!--/tab-pane-->
		</div>
		<!--/tab-content-->
{% endblock %} 
