{% extends 'base_padres.html' %}
{% block body_block %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<br><br>
<div class="jumbotron ">

			<div style="text-align: right;">
				<a class="btn btn-light"  href="{% url 'editar_usuario' %}">Editar</a>
			</div>
			<div class="text-center">
                <h1>{{ user.get_username }}</h1>
				<img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" href="javascript:;" class="avatar avatar-xs rounded-circle">

			</div><br>
	</div>
		<!--/col-3-->
		<div  class="text-center">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li><a  class="nav-link active" aria-controls="home"  id="home-tab" href="#home"   data-toggle="tab"  role="tab" >{{ user.get_username }}</a></li>
				<li><a class="nav-link active" id="home-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="home" aria-selected="true" >Hijo/s</a></li>
			</ul>


			<div class="tab-content">
				<div class="tab-pane active" id="home">
					<div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>

					<div class="row">
						<div class="col-md">
								<label for="first_name"><span style="font-weight: bold;">Nombre:</span> {{ tutor.first_name }}</label>
						</div>

						<div class="col-md">
								<label for="last_name"><span style="font-weight: bold;">Apellido:</span> {{ tutor.last_name }}</label>
						</div>
						<div class="col-md">
								<label for="email"><span style="font-weight: bold;">Email:</span> {{ tutor.email }}</label>
						</div>
					</div>
					 <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>
					 <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>
				</div>

				<!--/tab-pane-->
				<div class="tab-pane" id="messages">



							{% for alumno in alumnos %}


								<div class="card">

									<div class="row">
										<div style=" padding-left: 20px; padding-right:  20px;padding-top: 10px;padding-bottom: 10;padding-bottom: 10px;">
										<a href="javascript:;" class="avatar avatar-xs rounded-circle">
										<img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" href="javascript:;" class="avatar avatar-xs rounded-circle" float:left; width="150" height="150" >
										</a>
										</div>

										<div style="padding-top: 20px;">
										<label class = 'first_name'for="first_name"><span style="font-weight: bold;">Nombre:</span> {{ alumno.first_name }}</label></br>
										<label for="last_name"><span style="font-weight: bold;">Apellido:</span> {{ alumno.last_name }}</label></br>
										<label for="first_name"><span style="font-weight: bold;">Curso:</span> {{ alumno.curso }}</label>
										</div>
										<!--hay mas lugar a la derecha de los datos para q posteriormente se incorporen mas datos y/o funcionalidades-->
									</div>

								</div>
							{%endfor%}

				</div>
				<!--/tab-pane-->
			</div>
			<!--/tab-pane-->
		</div>

		<!--/tab-content-->
{% endblock %}
